<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎你！</title>
</head>
<body>
    <h1 style="background-color: antiquewhite;color:black;">欢迎你</h1>
    <h2 style="background-color: yellow;color:black;">欢迎你</h2>
    <h3>欢迎你</h3>

    <h1 style="background-color: antiquewhite;color:black;">用户输入</h1>
    <form action="/index/" method="post">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="提交"/>
    </form>

    <script src="/static/js/jquery-1.12.4.js"></script>
</body>
</html>