<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<h1 style="background-color: antiquewhite;color:black;">欢迎你</h1>
    <table border="1">
        <thead>
            <th>用户名</th>
            <th>密码</th>
        </thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td>{{line.username}}</td>
                    <td>{{line.password}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>{{key1}}</h1>
    <h1>{{key2}}</h1>
    <script src="/static/js/jquery-1.12.4.js"></script>
</body>
</html>